{% extends 'dashboard/layout.html' %}

{% load url from future %}
{% load i18n %}

{% block title %}
    {% blocktrans with title=product.get_title %}
        Delete {{ title}}?
    {% endblocktrans %} |
    {{ block.super }}
{% endblock %}

{% block body_class %}
    create-page
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product-list' %}">{% trans "Product management" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product-attribute' pk=product_attribute.pk %}">{{ product_attribute.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Delete product attribute?" %}</h1>
    </div>
{% endblock header%}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete product attribute" %}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        {% if product_attribute.product_classes.all %}
            <p> 
            {% blocktrans with title=product_attribute.name %}
                <p>Product attribute <strong>{{ title }}</strong> is currently being used by the following product classes - are you sure you want to delete it?</p>
            {% endblocktrans %}
                <ul>
                    {% for product_class in product_attribute.product_classes.all %}
                        <li><a href="{% url 'dashboard:catalogue-product-class' pk=product_class.id %}"><strong>{{ product_class.name }}</strong></a></li>
                    {% endfor %}
                </ul>
            </p>
        {% else %}
            {% blocktrans with title=product_attribute.name %}
                <p>Delete product attribute <strong>{{ title }}</strong> - are you sure?</p>
            {% endblocktrans %}
        {% endif %}

        <div class="form-actions">
            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
            {% trans "or" %}
            <div class="btn btn-secondary">
                <a href="{% url 'dashboard:catalogue-product-attribute-list' %}">{% trans "cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
