{% extends 'dashboard/layout.html' %}

{% load url from future %}
{% load i18n %}

{% block title %}
    {% blocktrans with title=product.get_title %}
        Delete {{ title}}?
    {% endblocktrans %} |
    {{ block.super }}
{% endblock %}

{% block body_class %}
    create-page
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product-list' %}">{% trans "Product management" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-product-class' pk=product_class.pk %}">{{ product_class.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Delete product class?" %}</h1>
    </div>
{% endblock header%}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete product class" %}</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}

        {% if product_class.products.all %}
            <p> {% trans "It is not possible to delete product classes that contain products. Please first delete the following products:" %}
                <ul>
                    {% for product in product_class.products.all %}
                        {% if product.is_top_level %}
                            <li><a href="{% url 'dashboard:catalogue-product-delete' pk=product.id %}"><strong>{{ product }}</strong></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </p>
        {% else %}
            {% blocktrans with title=product_class.name %}
                <p>Delete product class <strong>{{ title }}</strong> - are you sure?</p>
            {% endblocktrans %}
        {% endif %}

        <div class="form-actions">
            {% if not product_class.products.all %}
                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                {% trans "or" %}
            {% endif %}
            <div class="btn btn-secondary">
                <a href="{% url 'dashboard:catalogue-product-class-list' %}">{% trans "cancel" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
