{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}

{% block body_class %}catalogue{% endblock %}

{% block title %}
    {% trans "Product management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Product Class management" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header action">
        <h1>{% trans "Product Class management" %}</h1>
        <div class="btn btn-secondary pull-right">
            <a href="{% url 'dashboard:catalogue-product-class-create' %}">{% trans "New Product Class" %}</a>
        </div>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% if product_classes %}
        {% block product_class_list %}
            <div class="table-header">
                <h2><i class="icon-sitemap icon-large"></i>{{ queryset_description }}</h2>
            </div>
            <form action="." method="post">
                {% csrf_token %}
                <table class="table table-striped table-bordered">
                    {% block product_class_list_header %}
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Requires Shipping?" %}</th>
                            <th>{% trans "Track Stock?" %}</th>
                            <th>{% trans "Num Products" %}</th>
                            <th></th>
                        </tr>
                    {% endblock %}
                    {% for product_class in product_classes %}
                        {% block product_class %}
                            <tr>
                                <td><a href="{% url 'dashboard:catalogue-product-class' pk=product_class.id %}">{{ product_class.name }}</a></td>
                                <td>
                                    {% if product_class.requires_shipping %}
                                        {% trans "Yes" %}
                                    {% else %}
                                        {% trans "No" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if product_class.track_stock %}
                                        {% trans "Yes" %}
                                    {% else %}
                                        {% trans "No" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ product_class.products.all.count }}
                                </td>
                                <td>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                {% trans "Actions" %}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="{% url 'dashboard:catalogue-product-class' pk=product_class.id %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}">{% trans "Edit" %}</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'dashboard:catalogue-product-class-delete' pk=product_class.id%}">{% trans "Delete" %}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endblock product_class %}
                    {% endfor %}
                </table>
            </form>
        {% endblock product_class_list %}
    {% else %}
        <p>{% trans "No product classes found." %}</p>
    {% endif %}

{% endblock dashboard_content %}
